---
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  performance-*,
  portability-*,
  misc-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -performance-no-int-to-ptr,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-isolate-declaration,
  -readability-math-missing-parentheses,
  -misc-header-include-cycle,
  -misc-include-cleaner,
  -misc-use-internal-linkage
WarningsAsErrors: 'bugprone-*,cert-*,clang-analyzer-*,concurrency-*'
HeaderFilterRegex: 'crates[\\/]php_sys[\\/].*\.h$'
FormatStyle: file
