# Cargo generates these files.
debug
target
.cargo

# Store release staging files here.
/dist/

# rustfmt generates these backup files.
**/*.rs.bk

# MSVC builds of rustc generate these debug information files.
*.pdb

# cargo-mutants stores mutation test data here.
**/mutants.out*/

# cargo-llvm-cov generates these coverage files.
lcov.info
*.profraw
*.profdata

# Ignore RustRover project files.
# See the JetBrains template at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore.
# Add the template to the global ignore file, or merge it into this file.
# Uncomment the next line to ignore the complete .idea directory.
#.idea/
